body {
	background: tan;
	font-family: 'Montserrat', sans-serif;
}

::selection {
    color: white; 
    background: black;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: gray;
	text-decoration: line-through;
}

#main {
	margin: auto;
}

#header {
	margin-top: 80px;
	text-align: center;
	font-size: 30px;
}

h1 {
	letter-spacing: 3px;
}

p {
	line-height: 22px;
}

#content {
	width: 500px;
	margin: auto;
	text-align: center;
	font-size: 15px;

}

#description {
	margin-top: 190px;
}