

body {
	background: tan;
	font-family: 'Montserrat', sans-serif;
}

::selection {
    color: white; 
    background: black;
}

a:link {
	color: gray;
	text-decoration: none;
}

a:visited {
	color: gray;
}

a:hover {
	color: black;
	text-decoration: line-through;
}

#main {
	margin: auto;
	width: 900px;
	height: 1000px;
}

#header1 {
	background-color: tan;
	text-align: center;
	font-size: 30px;
	position: absolute;
	top: 80px;
	opacity: 1;
}

#header1:hover {
	opacity: 0;
	animation-name: fadeOut;
	animation-delay: 0s;
	animation-direction: alternate;
}

#header2 {
	text-align: center;
	font-size: 30px;
	position: absolute;
	top: 80px;
	opacity: 1;
}

h1 {
	letter-spacing: 3px;
}

h2 {
	font-size: 20px;
}

p {
	line-height: 22px;
}

#content {
	width: 500px;
	margin: auto;
	text-align: center;
	font-size: 15px;

}

#step201 {
	width: 500px;
	text-align: center;
	margin: auto;
	margin-top: 250px;
	position: absolute;
	background-color: tan;
}

#step202 {
	width: 500px;
	text-align: center;
	margin: auto;
	position: absolute;
	margin-top: 250px;
}

#step201:hover {
	opacity: 0;
	animation-name: fadeOut;
	animation-delay: 0s;
	animation-direction: alternate;
}

#grid1 {
	width: 15000px;
	background-color: none;
	border-top: 1px;
	border-style: solid;
	border-color: black;
	position: absolute;
	top: 470px;
	left: -3px;
	opacity: .5;
}

#grid2 {
	width: 15000px;
	background-color: none;
	border-top: 1px;
	border-style: dotted;
	border-color: black;
	position: absolute;
	top: 620px;
	left: -3px;
	opacity: .7;
}

#grid3 {
	width: 15000px;
	background-color: none;
	border-top: 1px;
	border-style: solid;
	border-color: black;
	position: absolute;
	top: 775px;
	left: -3px;
	opacity: .5;
}

.lettera {
	width: 300px;
	position: absolute;
	margin-top: 195px;
	margin-left: -450px;
}

#a1 {
	width: 260px;
	height: 30px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	left: 530px;
	top: 390px;
	opacity: .3;
}

#a2 {
	width: 30px;
	height: 350px;
	background: black;
	position: absolute;
	top: 250px;
	left: 730px;
	transform: rotate(-25deg);
	opacity: .7;
	transition-property: opacity;
    transition-delay: .5s;
}

#a2border {
	width: 30px;
	height: 350px;
	background: tan;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	top: 240px;
	left: 715px;
	transform: rotate(-25deg);
}

#a3 {
	width: 30px;
	height: 350px;
	background: black;
	/*border-style: solid;
	border-width: 15px;
	border-color: tan;*/
	position: absolute;
	left: 590px;
	top: 250px;
	transform: rotate(25deg);
	transition-property: opacity;
    transition-delay: 1s;
}

.lettera:hover #a1{
	opacity: 0;
}

.lettera:hover #a2{
	opacity: 0;
}

.lettera:hover #a3{
	opacity: 0;
}



#a3border {
	width: 30px;
	height: 350px;
	background: tan;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	left: 575px;
	top: 240px;
	transform: rotate(25deg);
}

.letterb {
	width: 300px;
	position: absolute;
	margin-top: 450px;
	margin-left: 600px;
}

#b1 {
	width: 200px;
	height: 160px;
	position: absolute;
	top: 10px;
	background: black;
	border-radius: 50%;
	opacity: .3;
}

#b1neg {
	width: 200px;
	height: 160px;
	position: absolute;
	top: 10px;
	background: tan;
	border-radius: 50%;
	transform: scale(0.7);
}

#b2border {
	width: 210px;
	height: 180px;
	position: absolute;
	top: 135px;
	border-radius: 50%;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	background-color: tan;
	transform: scale (2);
}

#b2 {
	width: 210px;
	height: 180px;
	position: absolute;
	top: 135px;
	background: black;
	border-radius: 50%;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	opacity: .7;
}

#b2neg {
	width: 210px;
	height: 180px;
	position: absolute;
	top: 135px;
	background: tan;
	border-radius: 50%;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	transform: scale(0.6);
}

#b3 {
	width: 30px;
	height: 310px;
	position: absolute;
	margin-left: 20px;
	background-color: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
}

#b3border {
	width: 80px;
	height: 300px;
	position: absolute;
	margin-left: 0px;
	background-color: tan;
}

.letterc {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 1050px;
}

#c1 {
	width: 330px;
	height: 320px;
	background: black;
	border-radius: 50%;
	position: absolute;
	margin-top: 10px;
}

#c1neg {
	width: 330px;
	height: 320px;
	background: tan;
	border-radius: 50%;
	transform: scale(.8);
	position: absolute;
	margin-top: 10px;
}

#c2neg {
	width: 100px;
	height: 320px;
	background: tan;
	position: absolute;
	margin-left: 250px;
}

.letterd {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 1550px;
}

#d1 {
	width: 350px;
	height: 315px;
	background: black;
	border-radius: 50%;
	position: absolute;
	margin-top: 10px;
	margin-left: -100px;
	opacity: .7;
}

#d1neg {
	width: 350px;
	height: 315px;
	background: tan;
	border-radius: 50%;
	transform: scale(.8);
	position: absolute;
	margin-top: 10px;
	margin-left: -100px;

}

#d1neg2 {
	width: 130px;
	height: 320px;
	background: tan;
	position: absolute;
	margin-left: -120px;
}

#d2 {
	width: 30px;
	height: 310px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	opacity: 1;
}

.lettere {
	width: 300px;
	position: absolute;
	margin-top: 450px;
	margin-left: 2000px;
}

#e1 {
	width: 200px;
	height: 30px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-top: 120px;
	opacity: .2;
}

#e2 {
	width: 200px;
	height: 30px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-top: 280px;
	opacity: .5;
}

#e3 {
	width: 30px;
	height: 310px;
	background-color: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	opacity: .8;
}

#e3border {
	width: 30px;
	height: 310px;
	background-color: tan;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
}

#e4 {
	width: 200px;
	height: 30px;
	background: black;
	position: absolute;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	margin-top: 0px;
	opacity: 1;
}

.letterf {
	width: 300px;
	position: absolute;
	margin-top: 450px;
	margin-left: 2400px;
}

#f1 {
	width: 200px;
	height: 30px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-top: 120px;
	opacity: .3;
}

#f2 {
	width: 200px;
	height: 30px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-top: 0px;
	opacity: .7;
}

#f3 {
	width: 30px;
	height: 310px;
	background-color: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	opacity: 1;
}

.letterg {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 2800px;
}

#g1 {
	width: 30px;
	height: 120px;
	background: black;
	position: absolute;
	margin-top: 180px;
	margin-left: 230px;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	opacity: 1;
}

#g1border {
	width: 30px;
	height: 120px;
	background: tan;
	position: absolute;
	margin-top: 180px;
	margin-left: 230px;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	opacity: 1;
}

#g2 {
	width: 330px;
	height: 320px;
	background: black;
	border-radius: 50%;
	position: absolute;
	margin-top: 10px;
	margin-left: -10px;
	opacity: .6;
}

#g2neg {
	width: 330px;
	height: 320px;
	background: tan;
	border-radius: 50%;
	transform: scale(.8);
	position: absolute;
	margin-top: 10px;
	margin-left: -10px;
}

#g2neg2 {
	width: 100px;
	height: 320px;
	background: tan;
	position: absolute;
	margin-left: 230px;
}

#g3 {
	width: 100px;
	height: 30px;
	background-color: black;
	position: absolute;
	margin-top: 150px;
	margin-left: 180px;
	opacity: .3;
}

.letterh {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 3300px;
}

#h1 {
	width: 30px;
	height: 310px;
	background-color: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-left: 220px;
	opacity: .3;
}

#h2 {
	width: 260px;
	height: 30px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-top: 120px;
	margin-left: -10px;
	opacity: .6;
}

#h2border {
	width: 260px;
	height: 30px;
	background: tan;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-top: 120px;
	margin-left: -10px;
}

#h3 {
	width: 30px;
	height: 310px;
	background-color: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	opacity: 1;
}

.letteri {
	width: 300px;
	position: absolute;
	margin-top: 450px;
	margin-left: 3750px;
}

#i1 {
	width: 110px;
	height: 30px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-top: 280px;
	opacity: .3;
}

#i2 {
	width: 30px;
	height: 310px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-left: 40px;
	opacity: .6;
}

#i2border {
	width: 30px;
	height: 310px;
	background: tan;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-left: 40px;
}

#i3 {
	width: 110px;
	height: 30px;
	background-color: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	opacity: 1;
}

.letterj {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 4120px;
}

#j1 {
	height:45px;
    width: 100px;
    border-radius: 0px 0px 90px 90px;
	background: black;
	position: absolute;
	margin-top: 270px;
	margin-left: -15px;
	opacity: .7;
	transform: scale(1.2);
}

#j1neg {
	height: 50px;
    width: 94px;
    border-radius: 0px 0px 90px 90px;
	background: tan;
	position: absolute;
	margin-top: 250px;
	margin-left: -15px;

	transform: scale(.7);
}

#j2 {
	width: 30px;
	height: 235px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-left: 50px;
	opacity: 1;
}


.letterk {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 4450px;
}

#k1 {
	width: 30px;
	height: 250px;
	background: black;
	position: absolute;
	margin-left: 80px;
	margin-top: 100px;
	opacity: .3;
	transform: rotate(-40deg);
}

#k2 {
	width: 30px;
	height: 310px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	opacity: .7;
}

#k2border {
	width: 30px;
	height: 310px;
	background: tan;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
}

#k3 {
	width: 30px;
	height: 215px;
	background: black;
	position: absolute;
	margin-left: 83px;
	margin-top: -10px;
	opacity: 1;
	transform: rotate(40deg);
}

#k3border {
	width: 30px;
	height: 220px;
	background: tan;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-left: 72px;
	margin-top: -30px;
	opacity: 1;
	transform: rotate(40deg);
}

.letterl {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 4850px;
}

#l1 {
	width: 30px;
	height: 150px;
	background: black;
	position: absolute;
	margin-top: 230px;
	margin-left: 120px;
	opacity: .6;
	transform: rotate(90deg);
}

#l2 {
	width: 30px;
	height: 310px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	opacity: 1;
}

.letterm {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 5250px;
}

#m1 {
	width: 30px;
	height: 210px;
	background: black;
	position: absolute;
	margin-left: 205px;
	margin-top: -5px;
	opacity: .3;
	transform: rotate(40deg);
}

#m1border {
	width: 30px;
	height: 210px;
	background: tan;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-left: 190px;
	margin-top: -20px;
	opacity: 1;
	transform: rotate(40deg);
}

#m2 {
	width: 30px;
	height: 310px;
	background: tan;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-left: 270px;
	opacity: .3;
}

#m2border {
	width: 30px;
	height: 310px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-left: 270px;
	opacity: 1;
}

#m3 {
	width: 30px;
	height: 210px;
	background: black;
	position: absolute;
	margin-left: 90px;
	margin-top: -15px;
	opacity: .8;
	transform: rotate(-40deg);
}

#m3border {
	width: 30px;
	height: 210px;
	background: tan;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-left: 80px;
	margin-top: -20px;
	transform: rotate(-40deg);
}

#m4 {
	width: 30px;
	height: 310px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-left: 0px;
	opacity: 1;
}

.lettern {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 5800px;
}

#n1 {
	width: 30px;
	height: 310px;
	background: black;
	position: absolute;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	margin-left: 220px;
	opacity: .3;
}

#n2 {
	width: 30px;
	height: 370px;
	background: black;
	position: absolute;
	margin-left: 130px;
	margin-top: -10px;
	transform: rotate(-35deg);
	opacity: .7;
}

#n2border {
	width: 30px;
	height: 360px;
	background: tan;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-left: 130px;
	margin-top: -5px;
	transform: rotate(-35deg);
}

#n3 {
	width: 30px;
	height: 310px;
	background: black;
	position: absolute;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	opacity: 1;
}

.lettero {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 6400px;
}

#o1 {
	height:45px;
    width:90px;
    border-radius: 90px 90px 0 0;
	background: black;
	position: absolute;
	margin-top: 60px;
	transform: scale(3.5);
	opacity: .6;
}

#o2 {
	height:45px;
    width:90px;
    border-radius: 0px 0px 90px 90px;
	background: black;
	transform: scale(3.5);
	position: absolute;
	margin-top: 230px;
	opacity: 1;
}

#oneg {
	height: 250px;
    width: 240px;
    border-radius: 50%;
	background: tan;
	position: absolute;
	margin-top: 45px;
	margin-left: -73px;
	opacity: 1;
}

.letterp {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 6800px;
}

#p1 {
	height: 80px;
    width: 70px;
    border-radius: 0px 90px 90px 0;
	background: black;
	transform: scale(2.1);
	position: absolute;
	margin-left: 90px;
	margin-top: 55px;
	opacity: .7;
}

#p1neg {
	height: 80px;
    width: 140px;
    border-radius: 0px 90px 90px 0;
	background: tan;
	transform: scale(1.35);
	position: absolute;
	margin-left: 0px;
	margin-top: 55px;
}

#p2 {
	width: 30px;
	height: 310px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	opacity: 1;
}

.letterq {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 7300px;
}

#q1 {
	height:45px;
    width:90px;
    border-radius: 90px 90px 0 0;
	background: black;
	position: absolute;
	margin-top: 60px;
	transform: scale(3.5);
	opacity: .3;
}

#q2 {
	height:45px;
    width:90px;
    border-radius: 0px 0px 90px 90px;
	background: black;
	transform: scale(3.5);
	position: absolute;
	margin-top: 230px;
	opacity: .7;
}

#qneg {
	height: 250px;
    width: 240px;
    border-radius: 50%;
	background: tan;
	position: absolute;
	margin-top: 45px;
	margin-left: -73px;
	opacity: 1;
}

#q3 {
	width: 30px;
	height: 120px;
	background: black;
	position: absolute;
	margin-left: 130px;
	margin-top: 210px;
	transform: rotate(-70deg);
	opacity: 1;
}

#q3border {
	width: 30px;
	height: 120px;
	background: tan;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-left: 130px;
	margin-top: 200px;
	transform: rotate(-70deg);
	opacity: 1;
}

.letterr {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 7750px;
}

#r1 {
	width: 30px;
	height: 190px;
	background: black;
	position: absolute;
	margin-top: 150px;
	margin-left: 130px;
	transform: rotate(-35deg);
	opacity: .3;
}

#r2 {
	height: 80px;
    width: 70px;
    border-radius: 0px 90px 90px 0;
	background: black;
	transform: scale(2.1);
	position: absolute;
	margin-left: 90px;
	margin-top: 55px;
	opacity: .7;
}

#r2border {
	height: 80px;
    width: 70px;
    border-radius: 0px 90px 90px 0;
	background: tan;
	transform: scale(2.5);
	position: absolute;
	margin-left: 90px;
	margin-top: 55px;
}

#r2neg {
	height: 80px;
    width: 140px;
    border-radius: 0px 90px 90px 0;
	background: tan;
	transform: scale(1.35);
	position: absolute;
	margin-left: 0px;
	margin-top: 55px;
}

#r3 {
	width: 30px;
	height: 310px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	opacity: 1;
}

.letters {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 8300px;
}

#s1 {
	height: 80px;
    width: 80px;
    border-radius: 0px 90px 90px 0;
	background: black;
	transform: scale(2.3);
	position: absolute;
	margin-left: 0px;
	margin-top: 200px;
	opacity: .7;
}

#s1neg {
	height: 80px;
    width: 160px;
    border-radius: 0px 90px 90px 0;
	background: tan;
	transform: scale(1.55);
	position: absolute;
	margin-left: -105px;
	margin-top: 200px;
}

#s2 {
	height: 85px;
    width: 70px;
    border-radius: 90px 0px 0px 90px;
	background: black;
	transform: scale(2.1);
	position: absolute;
	margin-top: 48px;
	margin-left: -60px;
	opacity: 1;
}

#s2neg {
	height: 85px;
    width: 140px;
    border-radius: 90px 0px 0px 90px;
	background: tan;
	transform: scale(1.35);
	position: absolute;
	margin-top: 48px;
	margin-left: -35px;
	opacity: 1;
}

#sborder1 {
	height: 50px;
	width: 50px;
	background-color: tan;
	position: absolute;
	margin-left: -60px;
    margin-top: 160px;
}

#sborder2 {
	height: 50px;
	width: 15px;
	background-color: tan;
	position: absolute;
	margin-left: 40px;
    margin-top: 140px;
}

.lettert {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 8750px;
}

#t1 {
	height: 30px;
    width: 280px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-left: -120px;
	opacity: .7;
}

#t2 {
	width: 30px;
	height: 310px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	opacity: 1;
}

.letteru {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 9300px;
}

#u1 {
	height:45px;
    width:90px;
    border-radius: 90px 90px 0 0;
	background: black;
	transform: scale(2);
	position: absolute;
	opacity: ;
}

#u2 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.letterv {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 9900px;
}

#v1 {
	height:45px;
    width:90px;
    border-radius: 90px 90px 0 0;
	background: black;
	transform: scale(2);
	position: absolute;
	opacity: ;
}

#v2 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.letterw {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 10200px;
}

#w1 {
	height:45px;
    width:90px;
    border-radius: 90px 90px 0 0;
	background: black;
	transform: scale(2);
	position: absolute;
	opacity: ;
}

#w2 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

#w3 {
	height:45px;
    width:90px;
    border-radius: 90px 90px 0 0;
	background: black;
	transform: scale(2);
	position: absolute;
	opacity: ;
}

#w4 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.letterx {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 10600px;
}

#x1 {
	height:45px;
    width:90px;
	background: black;
	position: absolute;
	transform: rotate (25deg);
	opacity: ;
}

#x2 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.lettery {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 11100px;
}

#y1 {
	height:45px;
    width:90px;
	background: black;
	position: absolute;
	transform: rotate (25deg);
	opacity: ;
}

#y2 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

#y3 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.letterz {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 11400px;
}

#z1 {
	height:45px;
    width:90px;
	background: black;
	position: absolute;
	transform: rotate (25deg);
	opacity: ;
}

#z2 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

#z3 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

/* .num1 {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 8100px;
}

#num11 {
	height:45px;
    width:90px;
	background: black;
	position: absolute;
	transform: rotate (25deg);
	opacity: ;
}

#num12 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.num2 {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 8400px;
}

#num21 {
	height:45px;
    width:90px;
	background: black;
	position: absolute;
	transform: rotate (25deg);
	opacity: ;
}

#num22 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.num3 {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 8700px;
}

#num31 {
	height:45px;
    width:90px;
	background: black;
	position: absolute;
	transform: rotate (25deg);
	opacity: ;
}

#num32 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
} /*