@keyframes fadeIn {
  0%, {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

body {
	background: tan;
	font-family: 'Montserrat', sans-serif;
}

::selection {
    color: white; 
    background: black;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: gray;
	text-decoration: line-through;
}

#main {
	margin: auto;
	width: 900px;
}

#header1 {
	background-color: tan;
	text-align: center;
	font-size: 30px;
	position: absolute;
	top: 80px;
	opacity: 1;
}

#header1:hover {
	opacity: 0;
	animation-name: fadeOut;
	animation-duration: .5s;
	animation-delay: 0s;
	animation-direction: alternate;
}

#header2 {
	text-align: center;
	font-size: 30px;
	position: absolute;
	top: 80px;
	opacity: 1;
}

h1 {
	letter-spacing: 3px;
}

#step2 {
	width: 500px;
	text-align: center;
	margin: auto;
	margin-top: 250px;
}

p {
	line-height: 22px;
}

#content {
	width: 900px;
	/* background: yellow; */
	margin: auto;
	text-align: center;
	font-size: 15px;
}

.lettera {
	width: 700px;
	/* background: green; */
	top: 200px;
	left: 00px;
	position: absolute;
}

#a1 {
	width: 260px;
	height: 30px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	left: 530px;
	top: 400px;
}

#a2 {
	width: 30px;
	height: 350px;
	background: black;
	position: absolute;
	top: 250px;
	left: 730px;
	transform: rotate(-25deg);
}

#a2border {
	width: 30px;
	height: 350px;
	background: tan;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	top: 240px;
	left: 715px;
	transform: rotate(-25deg);
}

#a3 {
	width: 30px;
	height: 350px;
	background: black;
	/*border-style: solid;
	border-width: 15px;
	border-color: tan;*/
	position: absolute;
	left: 590px;
	top: 250px;
	transform: rotate(25deg);
}

#a3border {
	width: 30px;
	height: 350px;
	background: tan;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	left: 575px;
	top: 240px;
	transform: rotate(25deg);
}

.letterb {
	width: 700px;
	
	top: 900px;
	left: 350px;
	position: absolute;
}

#b1 {
	width: 200px;
	height: 150px;
	position: absolute;
	background: black;
	border-radius: 100px / 90px;
}

#b2 {
	width: 200px;
	height: 150px;
	position: absolute;
	top: 120px;
	background: black;
	border-radius: 100px / 90px;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
}

#b3 {
	width: 30px;
	height: 300px;
	position: absolute;
	background-color: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
}