

body {
	background: tan;
	font-family: 'Montserrat', sans-serif;
}

::selection {
    color: white; 
    background: black;
}

a:link {
	color: gray;
	text-decoration: none;
}

a:visited {
	color: gray;
}

a:hover {
	color: black;
	text-decoration: line-through;
}

#main {
	margin: auto;
	width: 900px;
	height: 1000px;
}

#header1 {
	background-color: tan;
	text-align: center;
	font-size: 30px;
	position: absolute;
	top: 80px;
	opacity: 1;
}

#header1:hover {
	opacity: 0;
	animation-name: fadeOut;
	animation-delay: 0s;
	animation-direction: alternate;
}

#header2 {
	text-align: center;
	font-size: 30px;
	position: absolute;
	top: 80px;
	opacity: 1;
}

h1 {
	letter-spacing: 3px;
}

h2 {
	font-size: 20px;
}

p {
	line-height: 22px;
}

#content {
	width: 500px;
	margin: auto;
	text-align: center;
	font-size: 15px;

}

#step201 {
	width: 500px;
	text-align: center;
	margin: auto;
	margin-top: 250px;
	position: absolute;
	background-color: tan;
}

#step202 {
	width: 500px;
	text-align: center;
	margin: auto;
	position: absolute;
	margin-top: 250px;
}

#step201:hover {
	opacity: 0;
	animation-name: fadeOut;
	animation-delay: 0s;
	animation-direction: alternate;
}

#grid1 {
	width: 10000px;
	background-color: none;
	border-top: 1px;
	border-style: solid;
	border-color: black;
	position: absolute;
	top: 470px;
	left: -3px;
	opacity: .5;
}

#grid2 {
	width: 10000px;
	background-color: none;
	border-top: 1px;
	border-style: dotted;
	border-color: black;
	position: absolute;
	top: 620px;
	left: -3px;
	opacity: .7;
}

#grid3 {
	width: 10000px;
	background-color: none;
	border-top: 1px;
	border-style: solid;
	border-color: black;
	position: absolute;
	top: 775px;
	left: -3px;
	opacity: .5;
}

.lettera {
	width: 300px;
	top: 200px;
	left: 00px;
	position: absolute;
}

#a1 {
	width: 260px;
	height: 30px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	left: 530px;
	top: 390px;
	opacity: .3;
}

#a2 {
	width: 30px;
	height: 350px;
	background: black;
	position: absolute;
	top: 250px;
	left: 730px;
	transform: rotate(-25deg);
	opacity: .7;
	transition-property: opacity;
    transition-delay: .5s;
}

#a2border {
	width: 30px;
	height: 350px;
	background: tan;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	top: 240px;
	left: 715px;
	transform: rotate(-25deg);
}

#a3 {
	width: 30px;
	height: 350px;
	background: black;
	/*border-style: solid;
	border-width: 15px;
	border-color: tan;*/
	position: absolute;
	left: 590px;
	top: 250px;
	transform: rotate(25deg);
	transition-property: opacity;
    transition-delay: 1s;
}

.lettera:hover #a1{
	opacity: 0;
}

.lettera:hover #a2{
	opacity: 0;
}

.lettera:hover #a3{
	opacity: 0;
}



#a3border {
	width: 30px;
	height: 350px;
	background: tan;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	left: 575px;
	top: 240px;
	transform: rotate(25deg);
}

.letterb {
	width: 300px;
	position: absolute;
	margin-top: 450px;
	margin-left: 650px;
}

#b1 {
	width: 200px;
	height: 160px;
	position: absolute;
	top: 10px;
	background: black;
	border-radius: 50%;
	opacity: .3;
}

#b1neg {
	width: 200px;
	height: 160px;
	position: absolute;
	top: 10px;
	background: tan;
	border-radius: 50%;
	transform: scale(0.7);
}

#b2border {
	width: 200px;
	height: 160px;
	position: absolute;
	top: 145px;
	border-radius: 50%;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	background-color: tan;
	transform: scale (2);
}

#b2 {
	width: 200px;
	height: 160px;
	position: absolute;
	top: 145px;
	background: black;
	border-radius: 50%;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	opacity: .7;
}

#b2neg {
	width: 200px;
	height: 160px;
	position: absolute;
	top: 145px;
	background: tan;
	border-radius: 50%;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	transform: scale(0.6);
}

#b3 {
	width: 30px;
	height: 300px;
	position: absolute;
	background-color: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
}

.letterc {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 1050px;
}

#c1 {
	width: 350px;
	height: 320px;
	background: black;
	border-radius: 50%;
	position: absolute;
	margin-top: 10px;
}

#c1neg {
	width: 350px;
	height: 320px;
	background: tan;
	border-radius: 50%;
	transform: scale(.8);
	position: absolute;
	margin-top: 10px;
}

#c2neg {
	width: 80px;
	height: 320px;
	background: tan;
	position: absolute;
	margin-left: 270px;
}

.letterd {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 455px;
	margin-left: 1550px;
}

#d1 {
	width: 350px;
	height: 320px;
	background: black;
	border-radius: 50%;
	position: absolute;
	margin-top: 10px;
	margin-left: -10px
}

#d1neg {
	width: 350px;
	height: 320px;
	background: tan;
	border-radius: 50%;
	transform: scale(.8);
	position: absolute;
	margin-top: 10px;
}

#d2 {
	width: 30px;
	height: 310px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-top: 7px;
	opacity: ;
}

.lettere {
	width: 300px;
	position: absolute;
	margin-top: 450px;
	margin-left: 2000px;
}

#e1 {
	width: 200px;
	height: 30px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-top: 120px;
	opacity: .2;
}

#e2 {
	width: 200px;
	height: 30px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-top: 280px;
	opacity: .5;
}

#e3 {
	width: 30px;
	height: 310px;
	background-color: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	opacity: .8;
}

#e4 {
	width: 200px;
	height: 30px;
	background: black;
	position: absolute;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	margin-top: 0px;
	opacity: 1;
}

.letterf {
	width: 300px;
	position: absolute;
	margin-top: 450px;
	margin-left: 2400px;
}

#f1 {
	width: 200px;
	height: 30px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-top: 120px;
	opacity: .3;
}

#f2 {
	width: 200px;
	height: 30px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-top: 0px;
	opacity: .7;
}

#f3 {
	width: 30px;
	height: 310px;
	background-color: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	opacity: 1;
}

.letterg {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 2800px;
}

#g1 {
	width: 30px;
	height: 120px;
	background: black;
	position: absolute;
	margin-top: 180px;
	margin-left: 250px;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	opacity: 1;
}

#g1border {
	width: 30px;
	height: 120px;
	background: tan;
	position: absolute;
	margin-top: 180px;
	margin-left: 250px;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	opacity: 1;
}

#g2 {
	width: 350px;
	height: 320px;
	background: black;
	border-radius: 50%;
	position: absolute;
	margin-top: 10px;
	margin-left: -10px;
	opacity: .6;
}

#g2neg {
	width: 350px;
	height: 320px;
	background: tan;
	border-radius: 50%;
	transform: scale(.8);
	position: absolute;
	margin-top: 10px;
}

#g2neg2 {
	width: 80px;
	height: 320px;
	background: tan;
	position: absolute;
	margin-left: 270px;
}

#g3 {
	width: 100px;
	height: 30px;
	background-color: black;
	position: absolute;
	margin-top: 150px;
	margin-left: 200px;
	opacity: .3;
}

.letterh {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 3300px;
}

#h1 {
	width: 30px;
	height: 310px;
	background-color: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-left: 220px;
	opacity: .3;
}

#h2 {
	width: 250px;
	height: 30px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-top: 140px;
	margin-left: -10px;
	opacity: .6;
}

#h3 {
	width: 30px;
	height: 310px;
	background-color: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	opacity: 1;
}

.letteri {
	width: 300px;
	position: absolute;
	margin-top: 450px;
	margin-left: 3800px;
}

#i1 {
	width: 110px;
	height: 30px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-top: 270px;
	opacity: .3;
}

#i2 {
	width: 30px;
	height: 300px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-left: 40px;
	opacity: .6;
}

#i3 {
	width: 110px;
	height: 30px;
	background-color: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	opacity: 1;
}

.letterj {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 4200px;
}

#j1 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

#j2 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.letterk {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 4500px;
}

#k1 {
	width: 30px;
	height: 180px;
	background: black;
	position: absolute;
	margin-left: 10px;
	transform: rotate (-25deg);
	opacity: .3;
}

#k2 {
	width: 30px;
	height: 300px;
	background: black;
	border-style: solid;
	border-width: 15px;
	border-color: tan;
	position: absolute;
	margin-left: 40px;
	opacity: .6;
}

#k3 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.letterl {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 4800px;
}

#l1 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

#l2 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.letterm {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 5000px;
}

#m1 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

#m2 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

#m3 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

#m4 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.lettern {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 4500px;
}

#n1 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

#n2 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

#n3 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.lettero {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 4500px;
}

#o1 {
	height:45px;
    width:90px;
    border-radius: 90px 90px 0 0;
	background: black;
	transform: scale(2);
	position: absolute;
	opacity: ;
}

#o2 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.letterp {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 4800px;
}

#p1 {
	height:45px;
    width:90px;
    border-radius: 90px 90px 0 0;
	background: black;
	transform: scale(2);
	position: absolute;
	opacity: ;
}

#p2 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.letterq {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 5100px;
}

#q1 {
	height:45px;
    width:90px;
    border-radius: 90px 90px 0 0;
	background: black;
	transform: scale(2);
	position: absolute;
	opacity: ;
}

#q2 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

#q3 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.letterr {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 5400px;
}

#r1 {
	height:45px;
    width:90px;
    border-radius: 90px 90px 0 0;
	background: black;
	transform: scale(2);
	position: absolute;
	opacity: ;
}

#r2 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

#r3 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.letters {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 5700px;
}

#s1 {
	height:45px;
    width:90px;
    border-radius: 90px 90px 0 0;
	background: black;
	transform: scale(2);
	position: absolute;
	opacity: ;
}

#s2 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.lettert {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 6000px;
}

#t1 {
	height:45px;
    width:90px;
    border-radius: 90px 90px 0 0;
	background: black;
	transform: scale(2);
	position: absolute;
	opacity: ;
}

#t2 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.letteru {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 6300px;
}

#u1 {
	height:45px;
    width:90px;
    border-radius: 90px 90px 0 0;
	background: black;
	transform: scale(2);
	position: absolute;
	opacity: ;
}

#u2 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.letterv {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 6600px;
}

#v1 {
	height:45px;
    width:90px;
    border-radius: 90px 90px 0 0;
	background: black;
	transform: scale(2);
	position: absolute;
	opacity: ;
}

#v2 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.letterw {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 6900px;
}

#w1 {
	height:45px;
    width:90px;
    border-radius: 90px 90px 0 0;
	background: black;
	transform: scale(2);
	position: absolute;
	opacity: ;
}

#w2 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

#w3 {
	height:45px;
    width:90px;
    border-radius: 90px 90px 0 0;
	background: black;
	transform: scale(2);
	position: absolute;
	opacity: ;
}

#w4 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.letterx {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 7200px;
}

#x1 {
	height:45px;
    width:90px;
	background: black;
	position: absolute;
	transform: rotate (25deg);
	opacity: ;
}

#x2 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.lettery {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 7500px;
}

#y1 {
	height:45px;
    width:90px;
	background: black;
	position: absolute;
	transform: rotate (25deg);
	opacity: ;
}

#y2 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

#y3 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.letterz {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 7800px;
}

#z1 {
	height:45px;
    width:90px;
	background: black;
	position: absolute;
	transform: rotate (25deg);
	opacity: ;
}

#z2 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

#z3 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

/* .num1 {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 8100px;
}

#num11 {
	height:45px;
    width:90px;
	background: black;
	position: absolute;
	transform: rotate (25deg);
	opacity: ;
}

#num12 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.num2 {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 8400px;
}

#num21 {
	height:45px;
    width:90px;
	background: black;
	position: absolute;
	transform: rotate (25deg);
	opacity: ;
}

#num22 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
}

.num3 {
	width: 300px;
	background-color: blue;
	position: absolute;
	margin-top: 450px;
	margin-left: 8700px;
}

#num31 {
	height:45px;
    width:90px;
	background: black;
	position: absolute;
	transform: rotate (25deg);
	opacity: ;
}

#num32 {
	width: 30px;
	height: 300px;
	background: black;
	position: absolute;
	opacity: ;
} /*