body {
	background-color: black;
	color: white;
}

#header {
	height: 80px;
	width: 840px;
	text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    border-bottom: 2px;
    border-color: white;
    border-bottom-style: dotted;
}

h1 {
	font-family: 'Squada One', sans-serif;
	color: white;
	font-size: 47px;
	letter-spacing: 5px;
}

.main {
	width: 840px;
	margin: 0 auto;
	margin-top: 40px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

#container1 {
	width: 840px;
	margin-top: 1px;
	background: none;
	float: left;
}

#project1 {
	width: 400px;
	height: 400px;
	background: white;
	color: black;
	float: left;
	margin-right: 40px;
	font-size: 20px;
}

img {
	float: left;
}

#p1text {
	width: 200px;
	margin: auto;
	margin-top: 150px;
	margin-left: 100px;
	position: absolute;
}

#p1feed {
	width: 180px;
	height: 180px;
	background-color: white;
	float: left;
	margin-right: 40px;
}

#p1feedtext {
	width: 180px;
	margin: auto;
	margin-top: 50px;
}

#p1source {
	width: 180px;
	height: 180px;
	background: white;
	color: black;
	float: right;
	margin-top: 215px;
}

#p1sourcetext {
	width: 180px;
	margin: auto;
	margin-top: 65px;
}



#container2 {
	width: 840px;
	background: none;
	margin-top: 80px;
	float: left;
}

#exercise1 {
	width: 180px;
	height: 180px;
	background: white;
	color: black;
	float: left;
	margin-right: 40px;
}

#ex1text {
	width: 180px;
	margin: auto;
	margin-top: 60px;
}

#p2sketches {
	width: 180px;
	height: 180px;
	background: white;
	color: black;
	float: left;
	margin-top: 215px;
	margin-right: 40px;
}

#p2sketchtext {
	width: 180px;
	margin: auto;
	margin-top: 70px;
}

#project2 {
	width: 400px;
	height: 400px;
	background-color: white;
	float: right;
	font-size: 20px;
}

#p2text {
	width: 200px;
	margin: auto;
	margin-top: 180px;
	margin-left: 100px;
	position: absolute;
}


a {
	text-decoration: none;
}

a:link {
	color: pink;
	text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: pink;
}

a:hover {
    color: gray;
}

::selection {
    color: pink; 
    background: gray;