body {
	font-family: 'Noto Sans';
	font-weight: 400;
	background-color: red;
}

h2 {
	font-family: 'Noto Sans';
}

p {
	line-height: 26px;
	font-size: .9em;
}

#time {
	width: 100px;
	height: 100px;
	background-color: white;
	margin-left: 50px;
	margin-top: 20px;
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px;
}

#content {
	width: 800px;
	height: 6000px;
	background-color: white;
	margin: auto;
	margin-top: 20px;

}

#description {
	width: 400px;
	height: 300px;
	padding: 50px;
}

#daybefore {
	width: 800px;
	height: 1000px;
	background-color: yellow;
	margin: auto;
	margin-top: 20px;
}

#midnight {
	width: 800px;
	height: 1000px;
	background-color: yellow;
	margin: auto;
	margin-top: 20px;
}

#morning {
	width: 800px;
	height: 1000px;
	background-color: yellow;
	margin: auto;
	margin-top: 20px;
}

#afternoon {
	width: 800px;
	height: 1000px;
	background-color: yellow;
	margin: auto;
	margin-top: 20px;
}

#evening {
	width: 800px;
	height: 1000px;
	background-color: yellow;
	margin: auto;
	margin-top: 20px;
}