body {
	font-family: 'Noto Sans';
	font-weight: 400;
	background-color: red; 
	font-size: .9em;
}

h2 {
	font-family: 'Noto Sans';
	color: white;
}

p {
	line-height: 26px;
	color: white;
}

#time1 {
	width: 100px;
	height: 100px;
	background-color: white;
	margin-left: 50px;
	margin-top: 50px;
	padding: 20px;
	font-size: 15px;
}

#time2 {
	width: 100px;
	height: 100px;
	background-color: white;
	margin-left: 50px;
	margin-top: 1800px;
	padding: 20px;
	font-size: 15px;
}

#time3 {
	width: 100px;
	height: 100px;
	background-color: white;
	margin-left: 50px;
	margin-top: 1370px;
	padding: 20px;
	font-size: 15px;
}

#time4 {
	width: 100px;
	height: 100px;
	background-color: white;
	margin-left: 50px;
	margin-top: 1300px;
	padding: 20px;
	font-size: 15px;
}

#content {
	width: 800px;
	height: 6000px;
	margin-top: 50px;
	margin-left: 300px;
	position: absolute;
	top: 0;
}

#description {
	width: 400px;
	margin-bottom: 40px;
}

.daybefore {
	width: 800px;
	height: 1900px;
	background-color: none;
	margin-top: 20px;
}

#shop08 {
	position: absolute; 
	top: -70px; 
	left: 460px; 
	transform: scale(.7);
}

#decor01 {
	position: absolute; 
	top: 200px; 
	left: -45px; 
	transform: scale(.85);
}

#flower02 {
	position: absolute;
	top: 370px;
	left: 400;
	transform: scale(.6);
}

#flower03 {
	position: absolute;
	top: 520px;
	left: 150;
	transform: scale(.8);
}

#flower05 {
	position: absolute;
    top: 460px;
    left: -240px;
    transform: scale(.4);
}

#flower11 {
	position: absolute;
	top: 610;
	left: -210px;
	transform: scale(.3);
}

#flower10 {
	position: absolute;
	top: 595px;
	left: 361px;
	transform: scale(.47);
}

#fruit07 {
	position: absolute;
    top: 775px;
    left: -150px;
    transform: scale(.65);
}

#shop01 {
	position: absolute;
	top: 850px;
	left: 445px;
	transform: scale(.75);
}

#flower06 {
	position: absolute;
    top: 976px;
    left: 50px;
    transform: scale(.53);
}

#beforeflower {
	position: absolute;
	margin-top: 1100px;
	margin-left: 100px;
}

#beforeornament01 {
	position: absolute;
	margin-top: 1300px;
}

#beforeornament02 {
	position: absolute;
	margin-top: 1300px;
	margin-left: -80px;
}



.midnight {
	width: 800px;
	height: 1500px;
	background-color: none;
	margin-top: 20px;
}

#altar03 {
	position: absolute; 
	margin-top: -305px; 
	margin-left: 460px; 
	transform: scale(.7);
}

#fruit08 {
	position: absolute; 
	margin-top: -35px; 
	margin-left: -45px; 
	transform: scale(.85);
}

#pray07 {
	position: absolute;
	margin-top: 135px;
	margin-left: 400;
	transform: scale(.6);
}

#pray03 {
	position: absolute;
	margin-top: 285px;
	margin-left: 150;
	transform: scale(.8);
}

#altar01 {
	position: absolute;
    margin-top: 220px;
    margin-left: -135px;
    transform: scale(.58);
}

#pray08 {
	position: absolute;
    margin-top: 565px;
    margin-left: -210px;
    transform: scale(.3);
}

#fruit03 {
	position: absolute;
	margin-top: 360px;
	margin-left: 361px;
	transform: scale(.47);
}

#burn01 {
	position: absolute;
    margin-top: 815px;
    margin-left: -60px;
    transform: scale(.9);
}

#pray08 {
	position: absolute;
    margin-top: 565px;
    margin-left: -210px;
    transform: scale(.3);
}

#door01 {
	position: absolute;
    margin-top: 635px;
    margin-left: 500;
    transform: scale(.9);
}


.morning {
	width: 800px;
	height: 1400px;
	background-color: none;
	margin-top: 20px;
}

#temple06 {
	position: absolute; 
	margin-top: -280px; 
	margin-left: 460px; 
	transform: scale(.7);
}

#pray05 {
	position: absolute; 
	margin-top: -10px; 
	margin-left: -45px; 
	transform: scale(.85);
}

#pray04 {
	position: absolute;
	margin-top: 160px;
	margin-left: 400;
	transform: scale(.6);
}

#pray10 {
	position: absolute;
	margin-top: 310px;
	margin-left: 150;
	transform: scale(.8);
}

#temple01 {
	position: absolute;
    margin-top: 250px;
    margin-left: -240px;
    transform: scale(.4);
}

#monk02 {
	position: absolute;
	margin-top: 400;
	margin-left: -210px;
	transform: scale(.3);
}

#temple05 {
	position: absolute;
	margin-top: 385px;
	margin-left: 361px;
	transform: scale(.47);
}

#pray06 {
	position: absolute;
    margin-top: 565px;
    margin-left: -150px;
    transform: scale(.65);
}

#pray11 {
	position: absolute;
	margin-top: 640px;
	margin-left: 445px;
	transform: scale(.75);
}

#temple04 {
	position: absolute;
    margin-top: 766px;
    margin-left: 50px;
    transform: scale(.53);
}

.afternoon {
	width: 800px;
	height: 1400px;
	background-color: none;
	margin-top: 20px;
}


#lion02 {
	position: absolute; 
	margin-top: -280px; 
	margin-left: 460px; 
	transform: scale(.7);
}

#dress01 {
	position: absolute; 
	margin-top: -10px; 
	margin-left: -45px; 
	transform: scale(.85);
}

#envelope02 {
	position: absolute;
	margin-top: 160px;
	margin-left: 400;
	transform: scale(.6);
}

#envelope03 {
	position: absolute;
	margin-top: 310px;
	margin-left: 150;
	transform: scale(.8);
}

#fest01 {
	position: absolute;
    margin-top: 250px;
    margin-left: -240px;
    transform: scale(.4);
}

#fest02 {
	position: absolute;
	margin-top: 400;
	margin-left: -210px;
	transform: scale(.3);
}

#kids01 {
	position: absolute;
	margin-top: 385px;
	margin-left: 361px;
	transform: scale(.47);
}

#gamble03 {
	position: absolute;
    margin-top: 565px;
    margin-left: -150px;
    transform: scale(.65);
}

#lantern01 {
	position: absolute;
	margin-top: 640px;
	margin-left: 445px;
	transform: scale(.75);
}

#lion03 {
	position: absolute;
    margin-top: 766px;
    margin-left: 50px;
    transform: scale(.53);
}

/*.evening {
	width: 800px;
	height: 1000px;
	background-color: yellow;
	margin-top: 20px;
} */
